.modal {
	opacity: 0;
	transition: opacity 0.2s ease-in;
	margin: auto;
	box-shadow: 0 0 1em 0.1em rgb(0 0 0 / .3);
	border: 0;
	border-radius: var(--top-level-border-radius);
}

.modal[open] {
	opacity: 1;
}

.modal::backdrop {
	background-color: rgba(0, 0, 0, .3);
}
