:root {
	--top-level-border-radius: 0.5em;
	--element-border-radius: 0.375em;
  box-sizing: border-box;
	font: 16px/1.5 Arial, sans-serif;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font: inherit;
}

body {
	background-color: hsl(0, 0%, 95.2%);
}

.content {
	padding: 1.4em;
}

.button {
	transition: background-color 0.3s ease;
	cursor: pointer;
	box-sizing: content-box;
	border: 0;
	border-radius: var(--element-border-radius);
	background-color: hsl(230, 65%, 30%);
	padding: 0.25rem 0.76rem;
	min-width: 5.625em;
	color: white;
}

.button:is(:hover, :focus) {
	background-color: hsl(230, 65%, 50%);
}

.button-main {
	background-color: hsl(204, 68%, 43%);
	height: 1.8rem;
}

.button-main:is(:hover, :focus) {
	background-color: hsl(204, 68%, 20%);
}

.button-secondary {
	background-color: hsl(226, 67%, 15%);
}

.button-secondary:is(:hover, :focus) {
	background-color: hsl(226, 67%, 38%);
}

.buttons {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: flex-end;
	align-self: center;
	gap: 0.7em;
	margin: 0 auto;
	width: 100%;
}

.hide {
	display: none;
}

.flex-justify-end {
	justify-content: flex-end;
}

.minor-font-size {
	font-size: 0.6rem;
}
